CREATE DATABASE IF NOT EXISTS progressgrid;
USE progressgrid;
CREATE TABLE IF NOT EXISTS habits (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255) NOT NULL);
CREATE TABLE IF NOT EXISTS habit_completions (id INT AUTO_INCREMENT PRIMARY KEY, habit_id INT NOT NULL, completion_date DATE NOT NULL, is_completed BOOLEAN DEFAULT FALSE, FOREIGN KEY (habit_id) REFERENCES habits(id) ON DELETE CASCADE, UNIQUE KEY (habit_id, completion_date));
